

.button-reg-header{
    
    float: right;
    padding: 0 16px;

    color: #000000;
    border: none;
    border-radius: 3px;
    background: #64bdd0;
    cursor: pointer;
    font-size: 1em;
    line-height: 2em;
    font-size: 20px;
}

.profile-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.exit-icon{
    margin-left: 20px;
    cursor: pointer;
}
.profile-text-c{
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}

.profile-img-container{
    background-position:center center;
    background-size:cover;
    width:60px;
    height:60px;
    
   
    overflow: hidden;
}
.profile-img{
    position: absolute;
    
    transform:translate(-50%, 0);
    width:60px;
    height:60px;
    object-fit:cover;
    border-radius: 30px;
    overflow: hidden;
}